.add-note {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, .8);
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: all .4s;
}

.add-note__clicked {
    visibility: visible;
    opacity: 1;
}

.content {
    padding-top: 3rem;
    width: 60%;
    height: 80%;
    background-color: #F3B507;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.input {
    font-size: 1.5rem;
    font-family: inherit;
    padding: 1.5rem 2rem;
    border-radius: .2rem;
    color: inherit;
    background-color: rgba(255, 255, 255, .5);
    border: none;
    border-bottom: .3rem solid transparent;
    width: 90%;
    display: block;
    transition: all .3s;
    margin: 3rem auto;
}

.input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
}

.input--text-area {
    resize: none;
}

.input__close {
    display: inline;
    cursor: pointer;
    color: rgb(58, 58, 58);
    position: absolute;
    top: .2rem;
    right: 1.5rem;
    text-decoration: none;
    font-size: 3.5rem;
}

.input__close:hover {
    color: black;
}

.add-note__btn {
    margin: 2rem auto;
    padding: 3rem 5rem;
    border: none;
    cursor: pointer;
    border-radius: 5rem;
    font-size: 2rem;
    font-weight: 700;
}